<div class="song-grid">
  <ng-container *ngIf="brani.length; else empty">
    <div
      class="song-item"
      *ngFor="let track of brani"
      (click)="onTrackClick(track)"
    >
      <img
        class="song-item-image"
        [src]="restService.media_url + '/Album/' + track.album_id + '.jpg'"
        alt="{{ track.title }}"
      />
      <div class="song-name song-title">{{ track.title }}</div>
      <p class="song-artist">{{ track.author }}</p>
    </div>
  </ng-container>
  <ng-template #empty>
    <p class="empty-message">Nessuna traccia trovata.</p>
  </ng-template>
</div>
