/Database_UML.vpp
/Database_UML.vpp.bak_000f
/Database_UML.vpp.bak_001d
/pngtree-fluid-gradient-colorful-background-picture-image_2447892.jpg

/server/media
/server/app.log

*__pycache__
*.pyc

.vscode

/server/.scannerwork
.sonarlint