{% comment %} contiene elementi immutabili della pagina {% endcomment %}
{% comment %} {% extends 'base.html' %}
{% block content %}

<p>test<p>

<!-- Link di navigazione per cambiare pagina tramite AJAX -->
<a href="{% url 'index' 'playlist' %}" class="nav-link">Playlist</a>
<a href="{% url 'index' 'artisti' %}" class="nav-link">Artisti</a>
<a href="{% url 'index' 'album' %}" class="nav-link">Album</a>
<a href="{% url 'index' 'brani' %}" class="nav-link">Brani</a>

{% include 'backgroundPlayer.html' %}

{% endblock content %} {% endcomment %}