<!-- artists-page.html -->
<div class="item-grid">
    <!-- Cicla su ciascun artista restituito dal backend -->
    <div class="item-container" *ngFor="let artist of artists">

      <!-- <a [routerLink]="['/artisti', artist.id]"> -->
        <a (click)="goToDetail(artist)">
        <img 
          class="item-img" 
          [src]="restService.media_url + '/' + artist.name + '/cover.jpg'" 
          [alt]="artist.name" 
        />
      </a>
  
      <!-- Mostra il nome dell’artista -->
      <p class="item-name">{{ artist.name }}</p>
  
      <!-- (Opzionale) Mostra il paese o description se vuoi -->
      <!-- <p class="item-country" *ngIf="artist.country">{{ artist.country }}</p>
      <p class="item-description" *ngIf="artist.description">{{ artist.description }}</p> -->
    </div>
  
    <!-- Messaggio quando non ci sono artisti -->
    <p *ngIf="artists.length === 0" class="empty-message">
      Nessun artista trovato.
    </p>
  </div>
  